app-list{
    position: relative;
    width: 100%;
    height: 70vh;
}
.items-list{
    // position: relative;
    width: 95%;
    height: 60vh;
    display: grid;
    justify-items: center;
    overflow-y: scroll;
    // background-color: rgba(255, 0, 0, 0.288);
    & app-item{
        width: 100%;
        display: flex;
        justify-content: center;
        // & .item{
        //     background-color: #F1F1F1;
        // position: relative;
        // display: flex;
        // width: 90%;
        // height: 5rem; 
        // border-radius: 1rem;
        // align-items: center;
        // justify-content: space-between;
        // margin-top: 1rem;
        // transition: all .2s ease-in;
        // & .amount, p{
        //     margin: 0 1rem;
        // }
        // & span{
        //     color: #2d9823;
        // }   
        // &:hover{
        //     .btn-delete-item{
        //         opacity: 1;
        //         left: 0;
        //     }
        //     background-color: #dddddd;
        // }
        // }
        
    }
    &::-webkit-scrollbar {
        width: 1em;
      }
       
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }
       
      &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
      }
}