<div class="add-item-container">
    <form [formGroup]="addForm" (ngSubmit)="submitForm()">
      <div class="input-container">
        <p class="font-size-small">Amount</p>
        <input formControlName="amount" class="input-field-small" type="text" />
      </div>
      <div class="input-container">
        <p class="font-size-small">Description</p>
        <input formControlName="description" class="input-field-large" type="text" />
      </div>
      <div class="action-buttons">
        <button [ngClass]="{'btn-medium-selected': operationSelected === 'income', 'btn-income':true, 'btn-medium':true}"  type="button" (click)="switchToIncome()">+</button>
        <button [ngClass]="{'btn-medium-selected': operationSelected === 'expense', 'btn-expense':true, 'btn-medium':true}" type="button" (click)="switchToExpense()">-</button>
        <button class="btn-add-item" type="submit">add</button>
      </div>
    </form>
  </div>