<div class="add-item-container">
    <form action="">
      <div class="input-container">
        <p class="font-size-small">Amount</p>
        <input class="input-field-small" type="text" />
      </div>
      <div class="input-container">
        <p class="font-size-small">Description</p>
        <input class="input-field-large" type="text" />
      </div>
      <div class="action-buttons">
        <button class="btn-income btn-medium-selected">+</button>
        <button class="btn-expense btn-medium">-</button>
        <button class="btn-add-item">add</button>
      </div>
    </form>
  </div>