<div class="app-container">
  <div class="balance-container">
    <span class="font-size-large">$<span class="neutral font-size-extralarge">2300</span></span>
  </div>
  <div class="main-container">
    <div class="add-item-container">
      <form action="">
        <div class="input-container">
          <p class="font-size-small">Amount</p>
          <input class="input-field-small" type="text" />
        </div>
        <div class="input-container">
          <p class="font-size-small">Description</p>
          <input class="input-field-large" type="text" />
        </div>
        <div class="action-button">
          <button class="btn-income btn-medium-selected">+</button>
          <button class="btn-expense btn-medium">-</button>
          <button class="btn-add-item">add</button>
        </div>
      </form>
    </div>
    <div class="items-container">
      <div class="item-container">
        <p class="income font-size-big">incomes</p>
        <div class="items-list">
          <div class="item">
            <p class="font-size-small-large">Description</p>
            <div class="amount">
              <button class="btn-delete-item">x</button>
              <span class="font-size-small-large">$<span class="font-size-small-large">450</span></span>
              
            </div>
          </div>
          
        </div>
      </div>
      <div class="item-container">
        <p>incomes</p>
        <div class="items-list">
          <div class="item">
            <p>Description</p>
            <div class="amount">
              <span>$<span>450</span></span>
            </div>
            <button class="btn-delete-item">x</button>
          </div>
        </div>
      </div>
    </div>
  
  </div>
</div>
